@import "tailwindcss";

@theme {
  --color-background: #ffffff;
  --color-foreground: #171717;

  --color-primary: #0062e1;
  --color-primary-light: #3889FF;
  --color-primary-medium: #0241bd;
  --color-primary-dark: #0033a1;
  --color-secondary: #1a314d;

  --font-bspro: var(--font-bspro), system-ui, sans-serif;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

/* ---------- Dark Mode Support ---------- */
@media (prefers-color-scheme: dark) {
  :root {
    --color-background: #0a0a0a;
    --color-foreground: #ffffff;
  }
}

body {
  background: var(--background);
  font-family: var(--font-bspro), system-ui, -apple-system, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.pointer{
  cursor: pointer !important;
}